.fixed{
    position: fixed
  }
  
  .top-0{
    top: 0px
  }
  
  .mx-2{
    margin-left: 0.5rem;
    margin-right: 0.5rem
  }
  
  .my-4{
    margin-top: 1rem;
    margin-bottom: 1rem
  }
  
  .mt-4{
    margin-top: 1rem
  }
  
  .mt-5{
    margin-top: 1.25rem
  }
  
  .flex{
    display: flex
  }
  
  .grid{
    display: grid
  }
  
  .h-10{
    height: 2.5rem
  }
  
  .h-16{
    height: 4rem
  }
  
  .w-10{
    width: 2.5rem
  }
  
  .w-10\/12{
    width: 83.333333%
  }
  
  .w-12{
    width: 3rem
  }
  
  .w-16{
    width: 4rem
  }
  
  .w-full{
    width: 100%
  }
  
  .grid-cols-5{
    grid-template-columns: repeat(5, minmax(0, 1fr))
  }
  
  .justify-around{
    justify-content: space-around
  }
  
  .gap-1{
    gap: 0.25rem
  }
  
  .space-x-6 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
  }
  
  .rounded-2xl{
    border-radius: 1rem
  }
  
  .rounded-lg{
    border-radius: 0.5rem
  }
  
  .border-2{
    border-width: 2px
  }
  
  .border-black{
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity))
  }
  
  .border-violet-900{
    --tw-border-opacity: 1;
    border-color: rgb(76 29 149 / var(--tw-border-opacity))
  }
  
  .bg-blue-400{
    --tw-bg-opacity: 1;
    background-color: rgb(96 165 250 / var(--tw-bg-opacity))
  }
  
  .bg-blue-800{
    --tw-bg-opacity: 1;
    background-color: rgb(30 64 175 / var(--tw-bg-opacity))
  }
  
  .bg-red-600{
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity))
  }
  
  .bg-violet-200{
    --tw-bg-opacity: 1;
    background-color: rgb(221 214 254 / var(--tw-bg-opacity))
  }
  
  .p-2{
    padding: 0.5rem
  }
  
  .text-center{
    text-align: center
  }
  
  .font-mono{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
  }
  
  .text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem
  }
  
  .font-extrabold{
    font-weight: 800
  }
  
  .font-extralight{
    font-weight: 200
  }
  
  .text-green-500{
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity))
  }
  